* {
    padding: 0;
    margin: 0;
}
body {
    background-color: black;
    color: white;
    padding: 25px;
    margin: 10px;
}
button {
    border-radius: 2px;
    font-size: 40px;
    padding: 20px 40px;
    
}
#first {
    padding-right: 30px;
    display: flex;
    padding-bottom: 20px;
    justify-content: space-between;

}
.between {
    text-align: right;
    font-size: 20px;
}
h1 {
    text-align: center;
    font-size: 80px;
    font-family: 'Georgia', serif;
}
.number {
    width: 100px;
    height: 60px;
    background-color: white;
    border: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px auto;
    color: black;
    font-size: 50px;
}

input {
    border: 2px solid white;
    background-color: black;
    font-size: 10px;
    height: 100px;
    width: 250px;
   
}
.main-section {
    margin: 20px;
    display: flex;
    margin-left: 60px;

}
.text {
    padding-left: 100px;
    text-align: right;
    font-size: 40px;
}
.score-section {
    display: flex;
    margin-left: 70px;
}
.score-paragraph {
    display: block;
    padding: 10px;
    padding-left: 200px;
    
}
.score-paragraph p {
    font-size: 30px;
    padding-bottom: 20px;
}